<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/9f5fdc4b9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    
    <title>Tic tac toe</title>
</head>
<body>

    <h1> Tic Tac Toe board </h1>
    <table >
        
        <tr title="row1" class="row1" >
            <td  class="col1"></td>
            <td ></td>
            <td  class="col3"></td>
        </tr>

        <tr class="row2">
            <td class="col1"></td>
            <td></td>
            <td class="col3"></td>
        </tr>

        <tr class="row3">
            <td class="col1"></td>
            <td></td>
            <td class="col3"></td>
        </tr>        

    </table>

    <script src="app.js"></script>
</body>
</html>