
<head>
  <meta name="viewport" content="width=device-width">
</head>

<h1>this is the heading samjhala....</h1>

<% if(adult==="yes") {%>
    <p>ok working</p>
<% }%>

<% if (adult==="yes") { %>
    <p>welcome Mr <%= userName %> to the site please have a look at the below image </p>
    <img src="/images/thong.png" alt="image not supported">
  <% } else {%>
    <p>you are underage. Pls come back later</p>
<% } %>


<ul>

<% for (let index = 0; index < 5; index++) { %>
        <li> <%= userName %> </li>
    
 <% } %>


</ul>






